
html {
    /* box-sizing: border-box; */
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-clearfix {
    *zoom: 1;
}

.subtle {
    color: #aaa;
}

.cmp-card-container {
    margin: 25px auto 0;
    position: relative;
    width: 80rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.922);
    padding: 30px;
    position: relative;
    /* box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1; */
}

.cmp-card-body {
    /* display: inline-block; */
    float: left;
    width: 510px;
    /* width: 50%; */
    margin: 0.7em;
}

.cmp-card-number {
    margin-top: 15px;
}

.cmp-card-circle {
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
}

.cmp-card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
}

.cmp-card-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 20px;
    text-align:justify;
}

.cmp-card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-transform: uppercase;
}

.cmp-card-read:after {
    background-color: #b8bddd;
    content: "";
    display: flex;
    height: 1px;    
    position: inherit;
    top: 9px;
    width: 100%
}

.cmp-card-tag {
    float: inherit;
    margin: 0 0 0;
    width: 500px;
}

.cmp-card-media {
    float: center;
    width: 400px;
    height: 300px;
}

.cmp-card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
}

.cmp-card-button {
    background: darkkhaki;
    color: white;
    grid-column: controls;
    
    grid-row: auto;
    padding: .4em;
    width: 10em;
    border: 0;
}

.cmp-card-button:hover {
background: rgb(0, 0, 0);
color: white;
text-decoration: none;
}

.cmp-card-diets{
    text-transform: capitalize;
    margin: revert;
}