* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    /* background: url("../Images/cocinando_en_casa.jpg"); */
    /* background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */
    /* opacity: 0.6 ; */
    /* background-color: aquamarine; */
    /* background-size: cover; */
    /* grid-template-columns: 8rem 1fr; */
    /* grid-template-rows: repeat(12, 1fr); */
    /* height: 100%; */
    /* gap: 1px; */
}

/****************************************************************************************************************************/

.sidebar {
    min-height: 91vh;
    max-width: 130px;
    position: fixed;
    padding-top: 16px;
    /* z-index: 1; */
    /* background-color: rgba(212, 19, 19, 0.31); */
    /* overflow-x: hidden; */
    /* font-size: 2vw; */
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 2vw; */
    color: rgb(18, 18, 18);
    display: block;
}

.sidebar a:hover {
    border: solid 1px yellow;
    background-color: black;
    color: yellow;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 30px;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

article {
    position: absolute;
    align-content: stretch;
}

.home-section {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    min-width: 100vw;
    background-color: #3f783b92;
}