/* .LandingPage {
    background: url('https://i.pinimg.com/originals/1a/45/1c/1a451c2844826c3691ee80512e9e1166.jpg');
    /* background-color: black; *
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
} */