ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.navbar {
    overflow: hidden;
    background: darkkhaki;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background: darkkhaki;
    color: white;    
    margin: 0;
    cursor: pointer;
    
}

