
.pagginate {    
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.pagginate>li button{
    background: darkkhaki;
    color: white;
    /* background-color: antiquewhite; */
    border: 0px ;
    border-radius: 4px;
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
}

.pagginate>li button:hover{   
    background: gray;
    color: rgb(255, 255, 255);
    width: 4em;
    /* height: 4em; */
}

