.cmp-form>* {
    /* font: 1.4em 'Unkempt', sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 1em;
}

.cmp-form {
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-auto-flow: row dense;
    grid-gap: .8em;
    background: #eee;
    padding: 1em;
    border-radius: .5em;
    margin-left: auto;
    margin-right: auto;
    min-width: 3em;
    max-width: 50rem;
    align-items: center;
    justify-content: space-around;
}

/* Mensaje validador del formulario */
.cmp-form>span {
    color: red;
    /* font-size: .8rem; */
    font-weight: bold;
    font-size: 0.6rem;
    position: absolute;
    right: 4rem;
    height: 25rem;
}

.cmp-form>label,
.cmp-form>fieldset {
    grid-column: 1;
    grid-row: auto;
}


.cmp-form>select,
.cmp-form>textarea,
.cmp-form>button {
    grid-column: controls;
    min-width: 3em;
    grid-row: auto;
    padding: .4em;
    max-height: 3em;
    border: 0;
}
.cmp-form>input{
    grid-column: controls;
    /* min-width: 3em; */
    grid-row: auto;
    padding: .2em;
    height: 1px;
    border: 0;
}

.cmp-form>fieldset {
    grid-column: span 2;
}

.cmp-form>button {
    background: darkkhaki;
    color: white;
}

.cmp-form>textarea {
    resize: none;
    min-height: 3em;
}


/* **************************************************************************** */
/* Language: Rating */
/*.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    }
    
    .rating > input{
     display:none;
    }
    
    .rating > label {
    position: relative;
    width: 1.1em;
    color: #FFD700;
    cursor: pointer;
    }
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
    }
    
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
    }
    
    .rating > input:checked ~ label:before{
    opacity:1;
    }
    
    .rating:hover > input:checked ~ label:before{ 
    opacity: 0.4;
     }
     */